# ==========================
# Application
# ==========================
# Server port (default: 3000)
APP_PORT=

# ==========================
# Session
# ==========================
# Secret used to sign session cookies
SESSION_SECRET=
# Session storage(used mongodb)
MONGO_URL=
SESSION_DB_NAME=
SESSION_COLLECTION_NAME=

# ==========================
# PostgreSQL
# ==========================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASS=

# ==========================
# Password hashing
# ==========================
# bcrypt salt rounds (e.g. 10 or 12)
SALT=

# ==========================
# File uploads
# ==========================
# Temporary upload directory(example: /tmp/uploads/lib-cover)
TEMP_UPLOADS_PATH=
# Permanent uploads directory(default .uploads/book-lib/covers/)
# THE FILE STORE IS CONFIGURED SO THAT THE PERMANENT DIRECTORY IS IN THE HOME FOLDER OF THE USER WHO RUNS THE PROGRAM (EXAMPLE: my-uploads/books/cover)
MAIN_UPLOADS_PATH=

# ==========================
# Multer limits
# ==========================
# Maximum upload size in MB
FILE_SIZE=5
# Maximum number of files per request
FILES=1
# Maximum number of fields per request   
FIELDS=0
# Maximum total number of parts (fields + files)
PARTS=2
# Maximum field name length
FIELD_NAME_SIZE=15
