#master-box {
  display: flex;
  flex-direction: row;
}

#books-list,
#add-book-block {
  width: 50%;
}

#add-book-block {
  display: flex;
  flex-direction: row;
}

#left-block,
#right-block {
  width: 50%;
  height: auto;
  background-color: #e7eaf6;
}

#left-block {
  position: relative;
}
#add {
  bottom: 0;
  left: 0;
}
#new-book-description {
  height: 75px;
}

#image-priview {
  width: 150;
  height: 300px;
}

#books-list{
  width: 50%;
  background-color: #e7eaf6;
}
